a.logo { padding: 0 !important; }
a.logo img { max-width: 140px !important; margin-bottom: -36px; }
a.logo:hover { background: transparent !important; opacity: .5}
a.logo:active { background: transparent !important; }
pre { background-color: #f8f8f8; }
ul.nav h1 { font-size: 26px; }
div.tab-content { padding: 35px; margin-top: 40px; }
div.tab-content h2 { color: #813a6a;}
@media (max-width: 768px) {
	div.tab-content {
		margin-top: 0px;
		padding: 10px;
	}
}
.copyright { color: #888; }
.copyright a { padding: 0 !important; margin: 0 !important; display: inline-block !important; }
ul.social li { text-align:center; list-style-type: none; display: inline-block; float: left; width: 100px}
li.gh { margin: 10px 0 0; text-align: center; }