a.logo { padding: 0 !important; }
a.logo img { max-width: 140px !important; margin-bottom: -36px; }
a.logo:hover { background: transparent !important; opacity: .5}
a.logo:active { background: transparent !important; }
pre { }

pre {
padding: 16px;
margin: 0 0 16px;
font-size: 13px;
line-height: 1.45;
background-color: #f8f8f8; 
border: none;
border-radius: 4px;
}


ul.nav h1 { font-size: 26px; }

.tab-content { padding: 35px; margin-top: 40px; }
.tab-content h2 { color: #813a6a;}
.tab-content ul { margin: 10px 0 14px;}
.tab-content ul li { margin: 10px 0;}
.tab-content p { margin: 0 0 16px;}

@media (max-width: 768px) {
	.tab-content {
		margin-top: 0px;
		padding: 7px;
	}
}
.copyright { color: #888; }
.copyright a { padding: 0 !important; margin: 0 !important; display: inline-block !important; }
ul.social li { text-align:center; list-style-type: none; display: inline-block; float: left; width: 100px}
li.gh { margin: 10px 0 0; text-align: center; }